<!--removeIf(production)-->

{% include "shell/top.html" ignore missing %}
<!--removeIf(dontpublish)-->
<style>
    
</style>
<!--endRemoveIf(dontpublish)-->
<!--endRemoveIf(production)-->
<div>
    {% include "partials/stylesheets.html" %}
</div>
{% include "main-body.html" ignore missing %}
<!-- {% include "partials/recirc-box.html" %} -->
<div>
    {% include "partials/script-links.html" %}
</div>

<!--removeIf(production)-->
<!--build:js min-files/main.min.js -->
<script src="js/main.js"></script>
<!-- endbuild -->


{% include "shell/bottom.html" ignore missing %}
<!--endRemoveIf(production)-->
